{% extends 'base.html' %} {% block content %}



<div class="col-lg-12 performance-message">
    <div class="jumbotron">
        <h1>Performance</h1>
        <p>Below you can see how well the base game and features are doing. With details on:</p>

        <ul>- Base game status</ul>
        <ul>- Most popular bugs and features</ul>
        <ul>- Current bugs</ul>
        <ul>- Fixed bugs</ul>
        <ul> -New features</ul>







    </div>
</div>


<div class="col-lg-12 performance-panel1">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h1 class="top-5-title-styling">Top 5 features by user likes</h1>
            <table class="table table-bordered table-styling">

                <thead>
                    <tr>
                        <th scope="col" style="color: #ffff52e3;">#</th>
                        <th scope="col" style="text-align: center; color: #ffff52e3;">Feature</th>
                        <th scope="col" style="color: #ffff52e3;">Likes</th>

                    </tr>
                </thead>

                {% for feature in top_features %}
                <tbody>
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'feature_info' feature.id  %}">{{ feature }}</a></td>
                        <td>{{feature.likes}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h1 class="top-5-title-styling">Top 5 Bugs by user upvotes</h1>
            <table class="table table-bordered table-styling">

                <thead>
                    <tr>
                        <th scope="col" style="color: #ffff52e3;">#</th>
                        <th scope="col" style="text-align: center; color: #ffff52e3;">Bug</th>
                        <th scope="col" style="color: #ffff52e3;">Likes</th>

                    </tr>
                </thead>

                {% for bug in top_bugs %}
                <tbody>
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'bug_info' bug.id  %}">{{ bug }}</a></td>
                        <td>{{bug.upvotes}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<div class="col-lg-12 performance-panel2">

    <h1>Bugs</h1>


    <div class="row">

        <div class="col-lg-3 col-xl-3">
            <canvas class="well" id="bug_per_week" width="400" height="400"></canvas>
        </div>



        <div class="col-lg-3 col-xl-3">
            <canvas class="well" id="status_of_bugs_chart" width="400" height="400"></canvas>
        </div>

    </div>
</div>

<div class="col-lg-12 performance-panel3">

    <p>HOW MANY BUGS THERE ARE CURRENTLY</p>

    <p> AVERAGE SPEED OF BUG FIX</p>

    <p> HOW OFTEN NEW BUGS ARE ADDED</p>



</div>

<div class="col-lg-12 performance-panel4">

    <p>HOW MANY FEATURES THERE ARE CURRENTLY</p>

    <p>BUGS PER FEATURE GRAPH</p>

</div>

<div class="col-lg-12 performance-panel5">

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script>
    var endpoint = "{% url 'graph_data' %}"
    var labels = []
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data) {
            labels1 = data.labels1
            labels2 = data.labels2
            data_for_bugs_week = data.data_for_bugs_week
            bugs_todo = data.bugs_todo
            bugs_doing = data.bugs_doing
            bugs_fixed = data.bugs_fixed
            bugs_status = data.bugs_status
            bug_per_week_chart()
            status_of_bugs_chart()


        },
        error: function(error_data) {
            console.log(error_data)
        }
    })

    function bug_per_week_chart() {
        var ctx = document.getElementById("bug_per_week").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels1,
                datasets: [{
                    label: 'New bugs added today',
                    data: data_for_bugs_week,
                    backgroundColor: [
                        '#FB5E5E',

                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }


    function status_of_bugs_chart() {
        var ctx = document.getElementById("status_of_bugs_chart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels2,
                datasets: [

                    {
                        label: 'To do',
                        data: bugs_todo,
                        backgroundColor: [
                            'red',
                           
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                           
                        ],
                        borderWidth: 1
                    },

                    {
                        label: 'Doing',
                        data: bugs_doing,
                        backgroundColor: [
                            'orange',
                           
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            
                        ],
                        borderWidth: 1
                    },

                    {
                        label: 'Fixed',
                        data: bugs_fixed,
                        backgroundColor: [
                            'green',
                            
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            
                        ],
                        borderWidth: 1
                    },

                ]


            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }
</script>

{% endblock %}
