{% extends 'base.html' %} {% block content %}

{% block head_js %}


{% endblock head_js%}



<div class="col-lg-12 performance-message">
    <div class="jumbotron">
        <h1>Performance</h1>
        <p>Below you can see how well the base game and features are doing. With details on:</p>

        <ul>- Base game status</ul>
        <ul>- Most popular bugs and features</ul>
        <ul>- Current bugs</ul>
        <ul>- Fixed bugs</ul>
        <ul> -New features</ul>
        <ul>
            <button class="custom-button" type="button" data-toggle="modal" data-target="#modal-performance">More info</button>
        </ul>
        
        
        
        
        
            <!-- Modal -->
            <div class="modal fade" id="modal-performance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body" style='height: 500px;'>
                            
                            <h4>User guided</h4>
                        
                            <p>We always spend the majority of our time on the highest liked features. Equally, we spend more time on bugs with higher user upvotes. So make sure to like your favourite features and upvote any bugs you have!
                            </p>
                            
                            <h4>User Designed</h4>
                            
                            <p>We also watch which types of features our users like more, and try to develop more features of that type.
                                Please contact us via our social media links at the bottom of the page with your ideas for new features!
                            </p>
                            
                            <h4>User clarity</h4>
                            
                            <p> That is why we have this page to show users how the game, features and current bugs are currently doing.
                                Hover over the "<i class="fa fa-question-circle"></i>" symbol to read more about the chart.
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        
    </div>
</div>


<div class="col-lg-12 performance-panel1">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h1 class="performance-title-styling">Top 5 features by user likes <i class="fa fa-question-circle tooltips" title="Displays the current top 5 features by the amount of users that liked the feature"></i></h1>
            <table class="table table-styling">

                <thead>
                    <tr>
                        <th scope="col" style="text-align: center; color: #ffff52e3;">#</th>
                        <th scope="col" style="text-align: center; color: #ffff52e3;">Feature</th>
                        <th scope="col" style="text-align: center; color: #ffff52e3;">Likes</th>

                    </tr>
                </thead>

                {% for feature in top_features %}
                <tbody>
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'feature_info' feature.id  %}">{{ feature }}</a></td>
                        <td>{{feature.likes}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h1 class="performance-title-styling">Top 5 Bugs by user upvotes <i class="fa fa-question-circle tooltips" title="Displays the current 5 most upvoted bugs by users"></i></h1>
            <table class="table table-styling">

                <thead>
                    <tr>
                        <th scope="col" style="text-align: center; color: #ffff52e3;">#</th>
                        <th scope="col" style="text-align: center; color: #ffff52e3;">Bug</th>
                        <th scope="col" style="text-align: center; color: #ffff52e3;">Likes</th>

                    </tr>
                </thead>

                {% for bug in top_bugs %}
                <tbody>
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'bug_info' bug.id  %}">{{ bug }}</a></td>
                        <td>{{bug.upvotes}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<div class="col-lg-12 performance-panel2">




    <div class="row">
        <h1 class="performance-title-styling">Bugs</h1>


        <div class="col-md-9 col-md-offset-1 col-lg-5 col-lg-offset-1 col-xl-5 col-xl-offset-1">
            <h3 class="performance-title-styling">New bugs added in the past week <i class="fa fa-question-circle tooltips" title="Here are the number of bugs added each day over the past week"></i></h3>
            <canvas class="performace-well" id="bug_per_week" width="500" height="500"></canvas>
        </div>



        <div class="col-md-9 col-md-offset-1 col-lg-5 col-lg-offset-0 col-xl-5 col-xl-offset-0">
            <h3 class="performance-title-styling">Current bug stauses <i class="fa fa-question-circle tooltips" title="Shows the number of bugs thats are currently 'To do', 'Doing' or 'Fixed'."></i></h3>
            <canvas class="performace-well" id="status_of_bugs_chart" width="500" height="500"></canvas>
        </div>

    </div>
</div>



<div class="col-lg-12 performance-panel3">

    <div class="row">
        <h1 class="performance-title-styling">Features</h1>


        <div class="col-md-9 col-md-offset-1 col-lg-5 col-lg-offset-1 col-xl-5 col-xl-offset-1">
            <h3 class="performance-title-styling">Current feature types <i class="fa fa-question-circle tooltips" title="Shows the amount of features that belong to each type of feature"></i></h3>
            <canvas class="performace-well" id="current_feature_types" width="500" height="500"></canvas>
        </div>



        <div class="col-md-9 col-md-offset-1 col-lg-5 col-lg-offset-0 col-xl-5 col-xl-offset-0">
            <h3 class="performance-title-styling">Amount of bugs per feature type <i class="fa fa-question-circle tooltips" title="Shows the current amount of bugs that all the features in each features type has"></i></h3>
            <canvas class="performace-well" id="bugs_per_feature" width="500" height="500"></canvas>
        </div>

    </div>




</div>

<div class="col-lg-12 performance-panel4">
    
    <div class="row">
        <h1 class="performance-title-styling">Users</h1>


        <div class="col-md-9 col-md-offset-1 col-lg-5 col-lg-offset-1 col-xl-5 col-xl-offset-1">
            <h3 class="performance-title-styling">New users <i class="fa fa-question-circle tooltips" title="Shows the amount users added in the past week and the number of users added before last week"></i></h3>
            <canvas class="performace-well" id="new_users_chart" width="500" height="500"></canvas>
        </div>



        <div class="col-md-9 col-md-offset-1 col-lg-5 col-lg-offset-0 col-xl-5 col-xl-offset-0" style="margin-bottom: 30px;">
            <h3 class="performance-title-styling">Feature type popularity <i class="fa fa-question-circle tooltips" title="Shows the amount of likes each type of feature has"></i></h3>
            <canvas class="performace-well" id="feature_type_popularity_chart" width="500" height="500"></canvas>
        </div>

    </div>
</div>



</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script>
    var endpoint = "{% url 'graph_data' %}"
    var labels = []
    Chart.defaults.global.defaultFontColor = '#f5f5f5';
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data) {
            labels1 = data.labels1
            labels2 = data.labels2
            labels3 = data.labels3
            labels4 = data.labels4
            labels5 = data.labels5
            labels6 = data.labels6
            data_for_bugs_week = data.data_for_bugs_week
            bugs_status = data.bugs_status
            amount_of_features_per_types = data.amount_of_features_per_types
            amount_of_bugs_per_feature_type = data.amount_of_bugs_per_feature_type
            likes_per_feature_type = data.likes_per_feature_type
            new_users_data = data.new_users_data
            bug_per_week_chart()
            status_of_bugs_chart()
            current_feature_types()
            bugs_per_feature()
            feature_type_popularity_chart()
            new_users_chart()
            
        },
        error: function(error_data) {
            console.log(error_data)
        }
    })
    
    function bug_per_week_chart() {
        var ctx = document.getElementById("bug_per_week").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels1,
                datasets: [{
                    label: 'New bugs added ',
                    data: data_for_bugs_week,
                    backgroundColor: [
                        'transparent',
                    ],
                    borderColor: '#EA2B1F',
                    borderWidth: 1,
                    pointBackgroundColor: '#EA2B1F',
                    pointRadius: 5,
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [ {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                            }
                        }],
                    yAxes: [ {
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Likes'
                            }
                        }]
                    }
                }
        });
    }


    function status_of_bugs_chart() {
        var ctx = document.getElementById("status_of_bugs_chart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels2,
                datasets: [
                    {
                        label: 'Bug stauses',
                        data: bugs_status,
                        backgroundColor: [
                            '#EA2B1F',
                            '#F19A3E',
                            '#8CB369',
                        ],
                        borderWidth: 1
                    },
                ]
            },
            options: {
                animation: {
                onComplete: function () {
                var ctx = this.chart.ctx;
                ctx.textAlign = 'center';
                ctx.textBaseline = 'bottom';
                //ctx.font = Chart.helpers.fontString(self.fontSize, self.fontStyle, self.fontFamily);
                ctx.font = ctx.font.replace(/\d+px/, "25px");
                

                this.data.datasets.forEach(function (dataset) {
                    for (var i = 0; i < dataset.data.length; i++) {
                        var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model,
                            scale_max = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._yScale.maxHeight;
                        ctx.fillStyle = '#f5f5f5';
                        ctx.labelFontSize = 2;
                        var y_pos = model.y - -32;
                        // Make sure data value does not get overflown and hidden
                        // when the bar's value is too close to max value of scale
                        // Note: The y value is reverse, it counts from top down
                        if ((scale_max - model.y) / scale_max >= 0.93)
                            y_pos = model.y + 40; 
                        ctx.fillText(dataset.data[i], model.x, y_pos);
                    }
                });               
            }
        },
                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                         label: function(tooltipItem, data) {
                             return "There are " + Number(tooltipItem.yLabel) + " Bugss that are currently " + data.labels[tooltipItem.index];
                                }
                            }
                        },
                 scales: {
                    xAxes: [ {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Bug Status'
                            }
                        }],
                    yAxes: [ {
                        display: true,
                        ticks: {
                            stepSize: 1,
                            beginAtZero: true,
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Bugs'
                            }
                        }]
                    }
            }
        });
    }

    /*-------------Features charts--------------------*/
    
    function current_feature_types() {
        var ctx = document.getElementById("current_feature_types").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels3,
                datasets: [
                    {
                        label: 'feature types',
                        data: amount_of_features_per_types,
                        backgroundColor: [
                            '#D33E43',
                            '#92DCE5',
                            '#92AFD7',
                            '#729B79',
                        ],

                        borderWidth: 1
                    },
                ]
            },
            options: {
                animation: {
    duration: 500,
    easing: "easeOutQuart",
    onComplete: function () {
      var ctx = this.chart.ctx;
      ctx.textAlign = 'center';
      ctx.textBaseline = 'bottom';

      this.data.datasets.forEach(function (dataset) {

        for (var i = 0; i < dataset.data.length; i++) {
          var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model,
              total = dataset._meta[Object.keys(dataset._meta)[0]].total,
              mid_radius = model.innerRadius + (model.outerRadius - model.innerRadius)/2,
              start_angle = model.startAngle,
              end_angle = model.endAngle,
              mid_angle = start_angle + (end_angle - start_angle)/2;

          var x = mid_radius * Math.cos(mid_angle);
          var y = mid_radius * Math.sin(mid_angle);

          ctx.fillStyle = 'black';
          

          var val = dataset.data[i];
          var percent = String(Math.round(val/total*100)) + "% of all types";

          if(val != 0) {
            ctx.fillText(dataset.data[i], model.x + x, model.y + y);
            // Display percent in another line, line break doesn't work for fillText
            ctx.fillText(percent, model.x + x, model.y + y + 30);
          }
        }
      });               
    }
  }
}
            
        });
    }

    function bugs_per_feature() {
        var ctx = document.getElementById("bugs_per_feature").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels4,
                datasets: [
                    {
                        label: 'Bug stauses',
                        data: amount_of_bugs_per_feature_type,
                        backgroundColor: [
                            '#E8E8E8',
                            '#D33E43',
                            '#92DCE5',
                            '#92AFD7',
                            '#729B79',
                        ],

                        borderWidth: 1
                    },
                ]
            },
            options: {
                animation: {
    duration: 500,
    easing: "easeOutQuart",
    onComplete: function () {
      var ctx = this.chart.ctx;
      ctx.textAlign = 'center';
      ctx.textBaseline = 'bottom';

      this.data.datasets.forEach(function (dataset) {

        for (var i = 0; i < dataset.data.length; i++) {
          var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model,
              total = dataset._meta[Object.keys(dataset._meta)[0]].total,
              mid_radius = model.innerRadius + (model.outerRadius - model.innerRadius)/2,
              start_angle = model.startAngle,
              end_angle = model.endAngle,
              mid_angle = start_angle + (end_angle - start_angle)/2;

          var x = mid_radius * Math.cos(mid_angle);
          var y = mid_radius * Math.sin(mid_angle);

          ctx.fillStyle = 'black';
          

          var val = dataset.data[i];
          var percent = String(Math.round(val/total*100)) + "% of all bugs";

          if(val != 0) {
            ctx.fillText(dataset.data[i], model.x + x, model.y + y);
            // Display percent in another line, line break doesn't work for fillText
            ctx.fillText(percent, model.x + x, model.y + y + 20);
          }
        }
      });               
    }
  
},
               scales: {
                   ticks: {
                        beginAtZero: true,
                        stepSize: 1,
                            
                    }
                }
            }
        });
    }
    
    /*-------------Users charts-------------*/
    
    function new_users_chart() {
        var ctx = document.getElementById("new_users_chart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels5,
                datasets: [
                    {
                        label: 'Users',
                        data: new_users_data,
                        backgroundColor: [
                            '#f5f5f5',
                            '#691212',
                        ],

                        borderWidth: 1
                    },
                ]
            },
            options: {
                
  
  animation: {
    duration: 500,
    easing: "easeOutQuart",
    onComplete: function () {
      var ctx = this.chart.ctx;
      ctx.font = ctx.font.replace(/\d+px/, "25px");
      ctx.textAlign = 'center';
      ctx.textBaseline = 'bottom';

      this.data.datasets.forEach(function (dataset) {

        for (var i = 0; i < dataset.data.length; i++) {
          var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model,
              total = dataset._meta[Object.keys(dataset._meta)[0]].total,
              mid_radius = model.innerRadius + (model.outerRadius - model.innerRadius)/2,
              start_angle = model.startAngle,
              end_angle = model.endAngle,
              mid_angle = start_angle + (end_angle - start_angle)/2;

          var x = mid_radius * Math.cos(mid_angle);
          var y = mid_radius * Math.sin(mid_angle);

          ctx.fillStyle = 'black';
          

          var val = dataset.data[i];
          var percent = String(Math.round(val/total*100)) + "% of all users";

          if(val != 0) {
            ctx.fillText(dataset.data[i], model.x + x, model.y + y);
            // Display percent in another line, line break doesn't work for fillText
            ctx.fillText(percent, model.x + x, model.y + y + 30);
          }
        }
      });               
    }
  }
}
            
            
        });
    }
    
    function feature_type_popularity_chart() {
        var ctx = document.getElementById("feature_type_popularity_chart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels6,
                datasets: [
                    {
                        label: 'likes',
                        data: likes_per_feature_type,
                        backgroundColor: [
                            '#D33E43',
                            '#92DCE5',
                            '#92AFD7',
                            '#729B79',
                        ],

                        borderWidth: 1
                    },
                ],
           },
            options: {
                animation: {
                onComplete: function () {
                var ctx = this.chart.ctx;
                ctx.textAlign = 'center';
                ctx.textBaseline = 'bottom';
                //ctx.font = Chart.helpers.fontString(self.fontSize, self.fontStyle, self.fontFamily);
                ctx.font = ctx.font.replace(/\d+px/, "25px");
                

                this.data.datasets.forEach(function (dataset) {
                    for (var i = 0; i < dataset.data.length; i++) {
                        var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model,
                            scale_max = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._yScale.maxHeight;
                        ctx.fillStyle = '#f5f5f5';
                        ctx.labelFontSize = 2;
                        var y_pos = model.y - -32;
                        // Make sure data value does not get overflown and hidden
                        // when the bar's value is too close to max value of scale
                        // Note: The y value is reverse, it counts from top down
                        if ((scale_max - model.y) / scale_max >= 0.93)
                            y_pos = model.y + 20; 
                        ctx.fillText(dataset.data[i], model.x, y_pos);
                    }
                });               
            }
        },
               
                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                         label: function(tooltipItem, data) {
                             return Number(tooltipItem.yLabel) + " people liked " + data.labels[tooltipItem.index];
                                }
                            }
                },
                scales: {
                    xAxes: [ {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Feature type'
                            }
                        }],
                    yAxes: [ {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Likes'
                            }
                        }]
                    }
                }
        });
    }
</script>

<script>
  $( function() {
    $(".tooltips").tooltip();
  } );
</script>

{% endblock %}
