{% extends 'base.html' %} {% block content %} {% block head_js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('tooltip').tooltip();
    });
</script>
{% endblock head_js %}

<div class="col-md-1 col-lg-2 col-xl-2 columns hidden-xs hidden-sm"></div>

<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 feature-info-container">

    <h1>{{ bug.name.capitalize }}</h1>

    <a href="{% url 'bugs' %}"><i class="fa fa-arrow-left pull-left "></i></a>



    <div clas="row">
        <div class="feature-info-information col-xs-12 col-sm-12 col-md-10 col-lg-11 col-xl-11">

            <p class="features-info-description">{{bug.description}}</p>

            <div class="row row-for-bug-info">

                <p class="col-sm-5 col-md-5 col-lg-5 col-lg-offset-1 col-xl-5 col-xl-offset-1">Type: {{ bug.type }}</p>

                <p class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xl-offset-1">Status: {{ bug.status }}</p>



                <form method="get" action="{% url 'bug_info' bug.id %}" class="col-sm-5 col-md-5 col-lg-5 col-lg-offset-1 col-xl-5 col-xl-offset-1">
                    {% csrf_token %}
                    <button class="upvote-button" type="submit" value="upvote" name="upvote" data-toggle="tooltip" sdata-placement="top" title="How many also experienced this bug">
                        <i class="fa fa-bug"></i> {{ bug.upvotes }}
                    </button>
                </form>

                <p class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xl-offset-1">{{ bug.created_date|date:'d-m-Y H:i' }}</p>

            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <h2 class="comments-title">Comments</h2>

            <a href="#" class="btn custom-button button-spacing " role="button" data-toggle="modal" data-target="#commentModal">Add comment</a>

            <!-- Modal -->
            <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">


                        <form method="post" action="{% url 'add_comment' bug.id %}" id="add_comment" name="add_comment">
                            {% csrf_token %}


                            <label for="new_comment" hidden>Add comment</label>
                            <textarea type="text" name="new-comment" id="new-comment"></textarea>


                            <button type="submit" class="btn btn-info">Save</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-lg-offset-1 col-xl-10 col-xl-offset-1 row-for-comments">



            {% for comment in comments %}

            <div class="row panel-bugs">
                <div class="panel-body">
                    <div class="row">

                        <h5 class="comments-username col-lg-5 pull-left">{{ comment.user_id }}</h5>





                        <p class="col-lg-3 comment-date pull-right">{{ comment.created_date|date:'d-m-Y H:i' }}</p>
                    </div>

                    <hr class="hr-styling-comments" style="background-color:#ffff52e3;">

                    <div class="row">

                        <p class="col-lg-12 comment-comment">{{ comment.comment }}</p>

                    </div>
                </div>
            </div>


            {% empty %}

            <p class="no-comments">There are no comments at the momment</p>

            {% endfor %}


        </div>

    </div>

</div>

<div class="col-md-1 col-lg-2 col-xl-2 columns hidden-xs hidden-sm"></div>

{% endblock %}
