{% extends 'base.html' %} {% block content %}

<!--Put in a 'back button -->
<div class="col-lg-2 columns"></div>

<div class="col-lg-8 feature-info-container">

    <h1>{{ bug.name.capitalize }}</h1>

    <a href="{% url 'bugs' %}"><i class="fa fa-arrow-left pull-left "></i></a>


    <div clas="row">
        <div class="feature-info-information col-lg-11">

            <p class="features-info-description">{{bug.description}}</p>

            <div class="row row-for-bug-info">

                <p class="col-lg-5 col-lg-offset-1">Type: {{ bug.type }}</p>

                <p class="col-lg-5">Status: {{ bug.status }}</p>

                <p class="col-lg-5 col-lg-offset-1"><i class="fa fa-eye"></i>: {{ bug.views }}</p>

                <p class="col-lg-5">{{ bug.created_date|date:'Y-m-d H:i' }}</p>

            </div>
        </div>
    </div>
    <div class="row">


        <div class="col-lg-10 col-lg-offset-1 row-for-comments">


            <h3 class="comments-title">Comments</h3>

            <a href="#" class="btn custom-button button-spacing pull-right" role="button" data-toggle="modal" data-target="#commentModal">Add comment</a>

            <!-- Modal -->
            <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Add comment</h4>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="{% url 'add_comment' bug.id %}" id="add_comment" name="add_comment">
                                {% csrf_token %}


                                <label for="add_comment">Add comment</label>
                                <textarea type="text" name="new-comment" id="new-comment"></textarea>


                                <button type="submit" class="btn btn-info">Save</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            {% for comment in comments %}

            <div class="row panel-bugs">
                <div class="panel-body">
                    <div class="row">

                        <h5 class="comments-username col-lg-5 pull-left">{{ comment.user_id }}</h5>
                        

                        <p class="col-lg-2 center-block"><i class="fa fa-bug"></i> {{ comment.upvotes }}</p>

                        <p class="col-lg-3 comment-date pull-right">{{ comment.created_date|date:'d-m-Y H:i' }}</p>
                    </div>

                    <hr class="hr-styling-comments" style="background-color:#ffff52e3;">

                    <div class="row">

                        <p class="col-lg-12 comment-comment">{{ comment.comment }}</p>
                        
                        <p>{{ comment.user_id }}</p>
                        <p>{{ comment.bug_id }}</p>

                    </div>
                </div>
            </div>


            {% empty %}

            <p style="color: red; font-size: 50px;">no</p>

            {% endfor %}


        </div>

    </div>

</div>

<div class="col-lg-2 columns"></div>

{% endblock %}
