{% extends 'base.html' %} {% block content %}
<div class="col-lg-12 bugs-message">
    <div class="jumbotron">
        <h1>Bugs</h1>
        <p>
            Adding new features takes time, but to let our users experience our latest features as soon as possible we release them as soon as we can. To help users who experience any bugs we've set up our bug tracker. <br> Here you can:<br> -Browse bugs
            below to see what current issues are affecting the game <br> -Add you own bugs, so our team can deal with them as soon as possible
        </p>

        <p id="small-bugs-text">
            To see how efficient we are at fixing bugs, please see our <a>Performance</a> page.
        </p>


    </div>
</div>

<div class="col-lg-12 search-bar">
    <form action="{% url 'search' %}" method="get" name="search-form">
        <span class="search-selector">
            <label for="search">Search by name</label>
            <input type="text" name="search" id="search">
        </span>

        <span class="search-selector">
            <label for="search-select-types">Search by type</label>
            <select id="search-select-types" name="search-select-types">
                <option value="" disabled>Search by type</option>
                <option value=""></option>
                <option value="Item">Items</option>
                <option value="World">Worlds</option>
                <option value="Skills">Skills</option>
                <option value="Quests">Quests</option>
                <option value="Base game">Base game</option>
            </select>
        </span>

        <span class="search-selector">
            <label for="search-select-status">Search by status</label>
            <select id="search-select-status" name="search-select-status">
                <option value="" disabled>Search by status</option>
                <option value=""></option>
                <option value="To do">To do</option>
                <option value="Doing">Doing</option>
                <option value="Fixed">Fixed</option>
            </select>
        </span>
        <input type="hidden" name="Bugs" id="Bugs" value="Bugs">

        <button type="submit" class="custom-button">Search</button>
    </form>
</div>




<div class="col-lg-2 col-xl-2 pull-left columns"></div>

<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 center-block bugs-box">
    {% for bug in bugs %}

    <div class="row panel-bugs">
        <div class="panel-body">
            <div class="row">

                <h3 class="bug-name col-lg-9">{{ bug.name.capitalize }}</h3>

                <p class="col-lg-2 bug-date">{{ bug.created_date|date:'Y-m-d H:i' }}</p>
            </div>
            
            <hr style="background-color:#ffff52e3;">
            
            <div class="row">

                <p class="col-lg-2 col-lg-offset-1">Type: {{ bug.type }}</p>

                <p class="col-lg-2">Status: {{ bug.status }}</p>

                <p class="col-lg-2"><i class="fa fa-eye"></i>: {{ bug.views }}</p>

                <a href="{% url 'bug_info' bug.id  %}" class="btn custom-button col-lg-2 col-lg-offset-2 button-spacing" role="button">See more</a>

            </div>
        </div>
    </div>

    {% empty %}

    <div class="row no-results-bugs">
        <h2 class="col-lg-8 col-lg-offset-2 col-xl-8 col-xl-offset-2">There are no Bugs that match your search</h2>
    </div>

    {% endfor %}
</div>

<div class="col-lg-2 col-xl-2 columns pull-right"></div>



{% endblock %}
