{% extends 'base.html' %}

{% block content %}
<div class="col-lg-12 bugs-message">
    <div class="jumbotron">
        <h1>Bugs</h1>
        <p>
            Adding new features takes time, but to let our users experience our latest features as soon as possible we release them as soon as we can.
            To help users who experience any bugs we've set up our bug tracker. 
            
            
        </p>

        
    </div>
</div>

<div class="col-lg-12 search-bar">
    <form action="{% url 'search' %}" method="get" name="search-form">
        <span class="search-selector">
            <label for="search">Search by name</label>
            <input type="text" name="search" id="search">
        </span>

        <span class="search-selector">
            <label for="search-select-types">Search by type</label>
            <select id="search-select-types" name="search-select-types">
                <option value="" disabled>Search by type</option>
                <option value=""></option>
                <option value="Item">Items</option>
                <option value="World">Worlds</option>
                <option value="Skills">Skills</option>
                <option value="Quests">Quests</option>
                <option value="Base game">Base game</option>
            </select>
        </span>

        <span class="search-selector">
            <label for="search-select-status">Search by status</label>
            <select id="search-select-status" name="search-select-status">
                <option value="" disabled>Search by status</option>
                <option value=""></option>
                <option value="To do">To do</option>
                <option value="Doing">Doing</option>
                <option value="Fixed">Fixed</option>
            </select>
        </span>
        <input type="hidden" name="Bugs" id="Bugs" value="Bugs">

        <button type="submit" class="custom-button">Search</button>
    </form>
</div>

<div class="row row-for-features">
    {% for bug in bugs %}
    <div class="col-xs-10 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xl-offset-1 display panel panel-default">
        <div class="panel-body row">


            <div class="col-lg-6 feature-info">

                <div class="row">

                    <h3 class="feature-name col-lg-12">{{ bug.name.capitalize }}</h3>

                    <span class="feature-status col-lg-8">Status: {{ bug.status }}</span>

                   

                    
                    <a href="{% url 'bug_info' bug.id  %}" class="btn custom-button col-lg-5" role="button">See more</a>
                    


                </div>

            </div>
        </div>
    </div>
    
    {% empty %}

    <h2 class="col-lg-8 col-lg-offset-2">There are no Bugs that match your search</h2>
    
    {% endfor %}

</div>






{% endblock %}