{% extends "base.html" %}  {% block content %}
<div class="col-lg-12 reset-styling">
    <div class="row reset-container">
        <div class="col-xs-12 col-sm-5 col-sm-offset-4 col md-5 col-md-offset-4 col-lg-4 col-lg-offset-4 col-xl-4 col-xl-offset-4">
            <form method="post" class="accountform">
                <p>Please specify your email address to receive instructions for resetting it.</p>
                <br>
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                {{ form.email.errors }}
                <p>
                    <label for="id_email" class="control-label required-field">E-mail address:</label> {{ form.email }}
                    <input class="reset-password-button custom-button" type="submit" value="Reset password" />
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
