{% extends 'base.html' %} {% block content %}


<div class="col-lg-12 features-message">
    <div class="jumbotron">
        <h1>Features</h1>
        <p>Here you can browse and purchase our features to customise your game <br> Search for a feature by name, or choose to refine results using the choices below
        </p>

        <p id="features-small-text">*You will require the base game to start using features, to download click <a href="/">here</a>*</p>
    </div>
</div>

<div class="col-lg-12 search-bar">
    <form action="{% url 'search' %}" method="get" name="search-form">
        <span class="search-selector">
            <label for="search">Search by name</label>
            <input type="text" name="search" id="search">
        </span>

        <span class="search-selector">
            <label for="search-select-types">Search by type</label>
            <select id="search-select-types" name="search-select-types">
                <option value="" disabled>Search by type</option>
                <option value=""></option>
                <option value="Item">Items</option>
                <option value="World">Worlds</option>
                <option value="Skills">Skills</option>
                <option value="Quests">Quests</option>
            </select>
        </span>

        <span class="search-selector">
            <label for="search-select-status">Search by status</label>
            <select id="search-select-status" name="search-select-status">
                <option value="" disabled>Search by status</option>
                <option value=""></option>
                <option value="To do">To do</option>
                <option value="Doing">Doing</option>
                <option value="Available">Available now</option>
            </select>
        </span>
        <input type="hidden" name="Features" id="Features" value="Features">

        <button type="submit" class="custom-button">Search</button>
    </form>
</div>


<div class="row-for-features">
    {% for feature in features %}
    <div class="col-xs-10 col-sm-6 col-md-4  col-lg-4 col-xl-4 col-xl-offset-1 display panel panel-default">
        <div class="panel-body row">

            <div type="button" data-toggle="modal" data-target="#modal{{forloop.counter}}" class="feature-image col-lg-6" style="background-image: url('{{ MEDIA_URL }}{{ feature.image }}')"></div>

            <!-- Modal -->
            <div class="modal fade" id="modal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">

                            <div id="carousel-features{{forloop.counter}}" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-features{{forloop.counter}}" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-features{{forloop.counter}}" data-slide-to="1"></li>
                                    <li data-target="#carousel-features{{forloop.counter}}" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="{{ MEDIA_URL }}{{ feature.image }}" alt="first feature image">

                                    </div>
                                    <div class="item">
                                        <img src="{{ MEDIA_URL }}{{ feature.image_carousel2 }}" alt="Second feature image">

                                    </div>

                                    <div class="item">
                                        <img src="{{ MEDIA_URL }}{{ feature.image_carousel3 }}" alt="Third feature image">

                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-features{{forloop.counter}}" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-features{{forloop.counter}}" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 feature-info">

                <div class="row">

                    <h3 class="feature-name col-lg-12">{{ feature.name.capitalize }}</h3>

                    <span class="feature-status col-lg-8">Status: {{ feature.status }}</span>

                    

                    <p class="col-lg-5 feature-price">£{{ feature.price }}</p>

                    <a href="{% url 'feature_info' feature.id  %}" class="btn custom-button col-lg-5" role="button">See more</a>


                </div>

            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}
