@font-face {
    font-family: "Norse";
    src: url("../fonts/Norse.otf");
}

@font-face {
    font-family: "NorseBold";
    src: url("../fonts/Norse-Bold.otf");
}

@font-face {
    font-family: "Stempel";
    src: url("../fonts/StempelGaramondLTStd Bold.otf");
}



body {
    font-family: Arial;
    padding-top: 55px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: "Stempel", sans-serif;
}

h2 {
    margin: 0px;
}

/* Base */

#main-nav {
    background-image: -webkit-linear-gradient(#3e4142, #000000 60%, #3e4142);
    border: 1px solid #3e4142;
    min-height: 55px;

}

.navbar-default .navbar-brand {
    color: #f5f5f5;
}

.navbar-brand {
    font-family: 'NorseBold', sans-serif;
    font-size: 30px;
    text-shadow: 3px 4px #691212;
    line-height: 25px;

}

/* Home */

.home-background-image {
    background: url('../img/green_landscape.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px;
}

.welcome-to {
    font-family: 'NorseBold', sans-serif;
    text-shadow: 2px 3px #691212;
    color: #f5f5f5;
    font-size: 60px;

}

.nordlander-welcome {
    font-size: 105px;
    text-shadow: 4px 5px #691212;
    color: #f5f5f5;
    font-family: 'NorseBold', sans-serif;

}

.home-info-titles {
    padding: 40px 10px;

}

.game-overview {
    min-height: 860px;
    background-color: #2b2525;
    text-align: center;
    margin: 0px;
    display: inline-block;
    width: 100%;
    color: #f5f5f5
}

.carousel-inner>.item>img {
    height: 500px;
    width: 98%;
}

.carousel {
    height: 400px;
}

.carousel-caption {
    font-size: 2.5em;
    color: #e2e21d;
    text-shadow: 1px 1px black;
}

.left,
.right {
    height: 500px;
}

.carousel-control.right {
    right: 38px;
}

.carousel-control.left {
    left: 15px;
}

.overview-text {
    font-size: 25px;
}

.overview-text-bottom {
    font-size: 25px;
    margin: 132px 0px 27px 0px;
}


.game-features {
    min-height: 500px;
    background-color: blue;
    text-align: center;
    margin: 0px;
    display: inline-block;
    width: 100%;
}

.game-download {
    min-height: 500px;
    background-color: yellow;
    text-align: center;
    margin: 0px;
    display: inline-block;
    width: 100%;
}

/* footer */

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
    background-color: black;
}

.fa {
    font-size: 25px;
    padding: 5px;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}
