@font-face {
    font-family: "Norse";
    src: url("../fonts/Norse.otf");
}

@font-face {
    font-family: "NorseBold";
    src: url("../fonts/Norse-Bold.otf");
}

@font-face {
    font-family: "Stempel";
    src: url("../fonts/StempelGaramondLTStd Bold.otf");
}

body {
    font-family: Arial;
    padding-top: 55px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: "Stempel", sans-serif;
}

h2 {
    margin: 0px;
}

a {
    color: #f5f5f5;
}

a:hover {
    color: #691212;
}

.fa {
    font-size: 25px;
    padding: 0px 10px;
    margin: -4px 0px 0px 0px;
}

/* Base */

#main-nav {
    background-image: -webkit-linear-gradient(#3e4142, #000000 60%, #3e4142);
    border: 1px solid #3e4142;
    min-height: 55px;

}

.navbar-brand {
    font-family: 'NorseBold', sans-serif;
    font-size: 30px;
    text-shadow: 3px 4px #691212;
    line-height: 25px;
    color: #f5f5f5;
    -webkit-transition: color 0.3s, font-size 0.3s ease-in-out;
    transition: color 0.3s, font-size 0.3s ease-in-out;
}

.navbar-brand:hover {
    text-shadow: 3px 4px #f5f5f5;
    color: #691212;
    background-color: transparent;
    font-size: 40px;

}

.nav>li>a {
    -webkit-transition: font-size 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;
}

.nav>li>a:hover {
    background-color: transparent;
    font-size: 25px;
    color: #f5f5f5;
    text-shadow: 2px 2px #691212;
}


/* Home */

.home-background-image {
    background: url('../img/green_landscape.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px;
}


.welcome-to {
    font-family: 'NorseBold', sans-serif;
    text-shadow: 2px 3px #691212;
    color: #f5f5f5;
    font-size: 60px;
    margin-top: 66px;

}

.nordlander-welcome {
    font-size: 105px;
    text-shadow: 4px 5px #691212;
    color: #f5f5f5;
    font-family: 'NorseBold', sans-serif;

}

.home-info-titles {
    color: #ffff52e3;
    padding: 40px 10px;
    font-size: 45px;

}

.game-overview {
    background-image: -webkit-linear-gradient(#2b2525, #000000 60%, #2b2525);
    text-align: center;
    margin: 0px;
    display: inline-block;
    width: 100%;
    color: #f5f5f5;
    height: 800px;
}

.carousel-inner>.item>img {
    height: 500px;
    width: 98%;
}

.carousel {
    height: 500px;
    margin: 50px 0px 50px 50px;
}

.carousel-caption {
    font-size: 2.5em;
    color: #f5f5f5;
    text-shadow: 2px 2px black;
}

.left,
.right {
    height: 500px;
}

.carousel-control.right {
    right: 29px;
}

.carousel-control.left {
    left: 15px;
}

.overview-text {
    font-size: 25px;
}



.game-features {
    background-image: url('../img/features-home-background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 800px;
    text-align: center;
    margin: 0px;


}

.game-features-title {
    color: #ffff52e3;
    padding: 40px 10px;
    font-size: 45px;
}

.game-features-text {
    color: #f5f5f5;
    font-size: 25px
}

#home-feature-cards-spacing {
    margin: 0px 15px;
}

.panel-default {
    margin: 11px 25px 0px 0px;
}

.thumbnail {
    min-height: 416px;
    min-width: 367px;
    max-width: 367px;
    max-height: 416px;
    background: url(../img/fantasy-borders.jpeg) no-repeat center;
    border: 1px black solid;
}


.thumbnail>img {
    min-width: 323px;
    padding: 26px 5px 0px 5px;
    min-height: 274px;
    max-width: 323px;
}

.thumbnail>h3 {
    padding: 7px 0px;
}

.thumbnail .caption {
    padding: 9px;
    color: #f5f5f5;
}

.caption h3 {
    padding-bottom: 27px
}

.game-download {
    background-image: -webkit-linear-gradient(#2b2525, #000000 60%, #2b2525);
    min-height: 500px;
    background-color: yellow;
    text-align: center;
    margin: 0px;
    color: #f5f5f5;
    width: 100%;
}

.download-links {
    height: 200px;
    margin: 50px 0px;


}

.download-link {
    text-decoration: none;
    font-size: 35px;

}

/* footer */

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    background-image: -webkit-linear-gradient(#3e4142, #000000 60%, #3e4142);
    background-color: black;
}


/* Features */

.features-message {
    height: 500px;
    background: url('../img/features-background.jpg') no-repeat center center fixed;

}

.jumbotron {
    background-color: #eeeeee8f;
    margin: 50px;
    text-align: center;
    font-family: 'NorseBold', sans-serif;
    
}

#features-small-text {
    font-size: 12px;
}



.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

