@font-face {
    font-family: "Norse";
    src: url("../fonts/Norse.otf");
}

@font-face {
    font-family: "NorseBold";
    src: url("../fonts/Norse-Bold.otf");
}

@font-face {
    font-family: "Stempel";
    src: url("../fonts/StempelGaramondLTStd Bold.otf");
}

html,
body {
    padding: 27px 0px 0px 0px;
    height: 100%;
    width: 100%;
    font-family: "Stempel", sans-serif;
    margin: 0px;
    overflow-x: hidden;
}


h2 {
    margin: 0px;
}

a {
    color: #f5f5f5;
}

a:hover {
    color: #691212;
}

.fa {
    font-size: 25px;
    padding: 0px 10px;
    margin: -4px 0px 0px 0px;
}

.alert {
    margin-bottom: 0px
}

.custom-button {
    color: #f5f5f5;
    background-color: grey;
}

.custom-button:hover {
    color: #691212;
    background-color: #f5f5f5;
    border-color: #691212;
}

input {
    color: black;
}

.modal-body {
    position: relative;
    padding: 15px;
    overflow: hidden;
    height: 100%;
    margin: -81px 24px 0px -9px;
}

/* ----------------------Base---------------------- */

#main-nav {
    background-image: -webkit-linear-gradient(#3e4142, #000000 60%, #3e4142);
    border: 1px solid #3e4142;
    min-height: 55px;
    max-height: 55px;
    font-family: 'NorseBold', sans-serif;


}

.navbar-brand {

    font-size: 30px;
    text-shadow: 3px 4px #691212;
    line-height: 25px;
    color: #f5f5f5;
    -webkit-transition: color 0.3s, font-size 0.3s ease-in-out;
    transition: color 0.3s, font-size 0.3s ease-in-out;
}

.navbar-brand:hover {
    text-shadow: 3px 4px #f5f5f5;
    color: #691212;
    background-color: transparent;
    font-size: 40px;

}

.nav>li>a {
    -webkit-transition: font-size 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;
    font-size: 20px;
}

.nav>li>a:hover {
    background-color: transparent;
    font-size: 25px;
    color: #f5f5f5;
    text-shadow: 2px 2px #691212;
}

.fa-shopping-cart {
    -webkit-transition: font-size 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;
}

.fa-shopping-cart:hover {
    font-size: 30px;
}

.support-dropdown {
    background: none!important;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    font-size: 22px;
    margin: 10px 10px 0px 14px;
    color: #f5f5f5;
    -webkit-transition: color 0.3s, font-size 0.3s ease-in-out;
    transition: color 0.3s, font-size 0.3s ease-in-out;
}

.support-dropdown:hover {
    background-color: transparent;
    font-size: 25px;
    color: #f5f5f5;
    text-shadow: 2px 2px #691212;
}

.dropdown-menu>li>a {
    font-size: 17px;
}

.alert-success {
    text-align: center;
}

.dropdown-menu {
    background-color: black;
    color: #f5f5f5;
}

.dropdown-menu>li>a {
    color: #f5f5f5;
}

.dropdown-menu>li>a:hover {
    color: #691212;
}

/* ----------------------Home---------------------- */

#remove-float {
    float: left;
}

.home-background-image {
    background: url('../img/green_landscape.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px;
}


.welcome-to {
    font-family: 'NorseBold', sans-serif;
    text-shadow: 2px 3px #691212;
    color: #f5f5f5;
    font-size: 60px;
    margin-top: 66px;

}

.nordlander-welcome {
    font-size: 105px;
    text-shadow: 4px 5px #691212;
    color: #f5f5f5;
    font-family: 'NorseBold', sans-serif;

}

.home-info-titles {
    color: #ffff52e3;
    padding: 40px 10px;
    font-size: 45px;
    margin: 84px 0px;

}

.game-overview {
    background-image: -webkit-linear-gradient(#2b2525, #000000 60%, #2b2525);
    text-align: center;
    margin: 0px;
    display: inline-block;
    width: 100%;
    color: #f5f5f5;
    min-height: 800px;
}

.carousel-inner>.item>img {
    height: 500px;
    width: 98%;
}

.carousel {
    height: 500px;
    margin: 42px 0px;
}

.carousel-caption {
    font-size: 2.5em;
    color: #f5f5f5;
    text-shadow: 2px 2px black;
}

.left,
.right {
    height: 500px;
}

.overview-text {
    font-size: 25px;
}

.game-features {
    background-image: url('../img/features-home-background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 800px;
    text-align: center;
    margin: 0px;


}

.game-features-title {
    color: #ffff52e3;
    padding: 40px 10px;
    font-size: 45px;
}

.game-features-text {
    color: #f5f5f5;
    font-size: 25px
}

#home-feature-cards-spacing {
    margin: 0px 47px;
}

.panel-default {
    margin: 11px 25px 0px 0px;
}

.thumbnail {
    min-height: 416px;
    min-width: 367px;
    max-width: 367px;
    max-height: 416px;
    background: url(../img/fantasy-borders.jpeg) no-repeat center;
    border: 1px black solid;
}


.thumbnail>img {
    min-width: 323px;
    padding: 26px 5px 0px 5px;
    min-height: 274px;
    max-width: 323px;
}

.thumbnail>h3 {
    padding: 7px 0px;
}

.thumbnail .caption {
    padding: 9px;
    color: #f5f5f5;
}

.caption h3 {
    padding-bottom: 27px
}

.game-download {
    background-image: -webkit-linear-gradient(#2b2525, #000000 60%, #2b2525);
    min-height: 500px;
    background-color: yellow;
    text-align: center;
    margin: 0px;
    color: #f5f5f5;
    width: 100%;
}

.download-links {
    height: 200px;
    margin: 50px 0px;


}

.download-link {
    text-decoration: none;
    font-size: 35px;

}

/* ----------------------footer---------------------- */

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    background-image: -webkit-linear-gradient(#3e4142, #000000 60%, #3e4142);
    color: #f5f5f5;
    width: 100%;
    height: 94px;

}

/* ----------------------Login---------------------- */

.login-styling {
    background-color: black;
    height: 690px;
}

.login-container {
    height: 464px;
    background: url(../img/fantasy-border2.png) no-repeat center border-box;
    border: 1px solid black;
    padding: 25px 79px;
    font-size: 20px;
    margin-top: 50px;
}

.login-legend {
    color: #ffff52e3;
}

.accountform>fieldset {
    color: #f5f5f5;
}

/* Reset */

.reset-styling {
    background-color: black;
    height: 690px;
}

.reset-container {
    height: 464px;
    background: url(../img/fantasy-border2.png) no-repeat center border-box;
    border: 1px solid black;
    padding: 25px 79px;
    font-size: 20px;
    margin-top: 50px;
    color: #f5f5f5;
    text-align: center;
}

.reset-container .center-block {
    margin-top: 60px;
}

.reset-password-button {
    margin-top: 60px;
}

#id_new_password2,
#id_new_password1 {
    margin: 20px;
}

.register-container {
    height: 464px;
    background: url(../img/fantasy-border2.png) no-repeat center border-box;
    border: 1px solid black;
    padding: 19px 60px 0px 57px;
    font-size: 12px;
    margin-top: 50px;
    color: #f5f5f5;
    text-align: center;
}

.register-title {
    color: #ffff52e3;
}


/* ----------------------Features---------------------- */

.features-message {
    height: 100%;
    background: url('../img/features-home-background.jpg') no-repeat center fixed;
    padding-left: 0px;
}

.jumbotron {
    background-color: #eeeeee8f;
    margin: 30px;
    text-align: center;
    font-family: 'NorseBold', sans-serif;
    color: black;
    text-shadow: 1px 1px #f5f5f5;

}

#features-small-text {
    font-size: 12px;
}

#features-small-text a {
    color: black;
}

#features-small-text a:hover {
    color: #691212;
}

.row-for-features {
    min-height: 1000px;
    background-color: #f5f5f5;
}

.row-for-features>h2 {
    margin-top: 50px;
}

.panel-default {
    margin: 10px 20px;
    border: 2px solid black;
    background-color: black;
    -webkit-box-shadow: 7px 7px 18px 4px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 7px 7px 18px 4px rgba(0, 0, 0, 0.71);
    box-shadow: 7px 7px 18px 4px rgba(0, 0, 0, 0.71);
}

.panel-body {
    padding: 0px;
}


.feature-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 278px;
    margin: 0 auto;
    padding: 0px;
}

.feature-image:hover {
    cursor: pointer;
}

.feature-info {
    color: #f5f5f5;
}

.feature-name {
    margin-left: 10px;
    color: #ffff52e3;
    min-height: 125px;
}

.feature-status {
    margin: 20px 0px;
}

.feature-price {
    margin: 17px 0px 0px 0px;
    font-size: 20px;
}

.well {
    background-color: white;
    color: black;
}

.modal-body-features {
    position: relative;
    padding: 15px;
    overflow: hidden;
    height: 100%;


}

.modal-content {
    background-color: black;
    border: 1px #f5f5f5 solid;

}

.search-selector label {
    margin: 12px 0px;
}

/* ----------------------Feature Info---------------------- */

.columns {
    background: url(../img/column.png) repeat center border-box;
    min-height: 1208px;
    padding: 0px;
    background-color: black;
    z-index: -10;
}



.feature-info-container {
    background-color: black;
    min-height: 1208px;
    text-align: center;
    color: #f5f5f5;
    overflow-y: auto;

}

.feature-info-container>h1 {
    margin: 24px 10px;
    color: #ffff52e3;
}

.feature-info-information {
    height: 462px;
    background: url(../img/fantasy-border2.png) no-repeat center border-box;
    font-size: 20px;
    background-color: #050504;

}

.features-info-description {
    font-size: 16px;
    margin: 10px;
    min-height: 250px;
    padding: 61px 96px 0px 96px;
}

.like-button {
    background-color: transparent;
    text-decoration: none;
    border: none;
    letter-spacing: 10px;
    margin: 20px 5px 10px 0px;
    overflow: hidden;
}

.like-button:focus {
    outline: none;
}

.fa-thumbs-up:hover {
    color: #22da22;
    text-shadow: 1px 1px white;
}


.add-button-spacing {
    margin: -14px 0px 10px 15px;
}



/* Search bar */

.search-bar {
    background-image: -webkit-linear-gradient(#3e4142, #000000 60%, #000000);
    color: #f5f5f5;
    padding: 12px;
    font-family: "Stempel", sans-serif;
    font-size: 17px;
    margin: 0px;
    border: none;
    border-radius: 0px;
}

select {
    color: black;
    background-color: white;
    font-size: 17px;
}

.search-bar input#search,
input#select {
    color: black;
}


.search-selector {
    margin: 0px 15px;
}


/* ----------------------Bugs---------------------- */

.bugs-message {
    background-image: url('../img/bugs-background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron p a {
    color: black;

}

.jumbotron p a:hover {
    color: #691212;
    cursor: pointer;
    margin: 0px;
}

#small-bugs-text {
    margin-top: 30px;
    font-size: 24px;
}

.panel-bugs {
    margin: 30px 59px;
    background-color: black;
    border: 5px white solid;
    color: #f5f5f5;

}

.row-for-bugs {
    background-color: black;
}

.no-results-bugs {
    margin-top: 47px;
    margin-left: 7%;
    text-align: center;
}

.bugs-box {
    overflow-y: auto;
    height: 1208px;
    background-color: #f5f5f5;
}

.bug-name {
    color: #ffff52e3;
    min-height: 70px;
    margin-left: 13px;
}

.bug-date {
    margin-top: 25px
}

.button-spacing {
    margin-bottom: 10px;
}

/* ----------------------Bugs info---------------------- */

.row-for-bug-info {
    margin-top: 74px;
}

.row-for-comments {
    background-color: black;
    height: 500px;
    margin-top: 15px;
    border: 2px solid #f5f5f5;
    overflow: auto;
}


.comments-username {
    color: #ffff52e3;
    margin-left: 13px;
    margin-top: 10px;
}

.comment-date {
    margin-top: 5px;
}

.hr-styling-comments {
    margin: 0px;
}

.comment-comment {
    text-align: left;
    padding: 7px 23px 0px 23px;
    min-height: 70px;
    word-break: break-word;
}

.comments-title {
    color: #ffff52e3;
    margin: 15px;
}

.bug-upvotes-display {
    background-color: black;
    border: none;
}

.upvote-button {
    background-color: black;
    border: none;
    outline: none;
}

.upvote-button:hover {
    color: #22da22;
    text-shadow: 1px 1px white;
}

.no-comments {
    margin: 50px;
    font-size: 30px;
    color: #ffff52e3;
}

#new-comment {
    color: black;
    height: 80%;
    width: 91%;
}

#add_comment {
    height: 171px;
    margin: 21px;
}

/* -------------Performance------------ */

.performance-panel1 {
    height: 700px;
    background-color: #2B2525;
    text-align: center;
}

.performance-panel1>h1 {
    color: #ffff52e3;
}

.performance-panel2 {
    height: 700px;
    background-color: #49475B;
}

.performance-panel3 {
    height: 700px;
    background-color: #799496;
}

.performance-panel4 {
    height: 700px;
    background-color: #DDD8C4;
}

.performance-panel5 {
    height: 700px;
    background-color: #8F9491;
}


.performance-message {
    background-image: url('../img/performance-background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 22px;
}






.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}



caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}




/* ------------Media Queries---------------*/

/* add margin to search type so that both the label and input sit on the same line*/

@media (max-width: 981px) and (min-width: 800px) {
    #search-select-types {
        margin-right: 155px;
    }
}

/* Changes padding around festure description */

@media (max-width: 761px) and (min-width: 565px) {
    .features-info-description {
        padding: 11px 39px 0px 39px;
    }
}

@media (max-width: 564px) {
    .features-info-description {
        padding: 11px 0px 0px 0px;
    }
}

@media (max-width: 455px) {
    .nordlander-welcome {
        font-size: 50px;
    }

    .welcome-to {
        font-size: 40px;
    }
}

@media (max-width: 1199px) {
    #home-feature-cards-spacing {
        margin: 0% 33.333%;
    }

}

@media (max-width: 1199px) {
    #md-margin-for-spacing {
        margin: 0% 33.333%;
    }

}

@media (max-width: 680px) {
    .panel-bugs {
        margin: 0px;
    }

}

@media (max-width: 767px) {
    .row-for-bug-info {
        margin-top: 0px;
    }

}


