{% extends "base.html" %} {% load bootstrap_tags %} {% block content %}

<div class="col-lg-12 login-styling">

    <div class="row login-container">
        <div class="col-lg-5 center-block">
            <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
                <fieldset class="form-group">
                    <legend class="login-legend">Login</legend>
                    {% csrf_token %} {{ user_form | as_bootstrap }}

                    <p><a href="{% url 'password_reset' %}">Forgot my password</a></p>

                    <button type="submit" class="btn btn-primary">Login</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock %}
