{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 features-message">
    <div class="jumbotron">
        <h1>Cart</h1>
        <p>
            Below you can see all the items you currently have stored in your cart<br> Click the "delete" button to remove items from your cart<br> PLease check yor cart contents before clicking "checkout", at the bottom of the page

        </p>


    </div>
</div>






{% for item in cart_items %}

<div class="col-xs-11 col-sm-11 col-md-5 col-lg-5 col-xl-5 display panel panel-default">
    <div class="panel-body row">

        <div class="feature-image col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>


        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 feature-info">

            <div class="row">

                <h3 class="feature-name col-lg-12">{{ item.product.name.capitalize }}</h3>
            </div>

            <div class="row" style="margin-bottom: 10px;">


                <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 feature-price">£{{ item.product.price }}</p>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="margin-top: 16px;">
                    <form class="form-inline" method="post" action="{% url 'delete_cart_item' item.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="delete_button" id="delete_button" value="0">
                        <button type="submit" class="custom-button">Delete</button>
                    </form>
                </div>


            </div>

        </div>
    </div>
</div>

{% endfor %}


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <hr>
    <div class="row cart-row">
        <h1 class="cart-total">Total</h1>
        <p class="cart-total-price"><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>{{ total }}</p>
        <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
    </div>
</div>

{% endblock %}
